*.iml
*.log
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
node_modules
_site
.cache
.happypack
dist
build
.yo-rc.json
yarn.lock
build
.history
coverage
mochawesome-report
.nyc_output
.coveralls.yml
